<div class = "container">
    <div class = "row">
        <div class = "col-12 pt-3 pb-3 mb-4 border-bottom">
            <div class = "align-items-end">

<%# <%= link_to "Test #1", root_path, class: "btn btn-outline-primary" %>
<%# <%= link_to "Test #1", root_path, class: "btn btn-primary" %>
</div>
<p class = "h2"> <%= link_to "CS312 Student Homepage", root_path, class: "text-decoration-none" %></p>
</div>
</div>
</div>
</div>