
            <h1>Contact Us</h1>
<br>
 <h3> Contact Information <h3> 
<p><span style="font-size: 20px;"><span style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">Omeed Tehrani</span></span></p>
<ul>
    <li style="font-size: 20px;" ><span style="font-size: 18px;"><span style='font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;'>Email: <a data-fr-linked="true" href="mailto:omeed@cs.utexas.edu">omeed@cs.utexas.edu</a></span></span></li>
   <li style="font-size: 20px;" ><span style="font-size: 18px;"><span style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">Personal Website: <a data-fr-linked="true" href="https://cs.utexas.edu/~omeed">https://cs.utexas.edu</a></span></span></li>
    <li style="font-size: 20px;" ><span style="font-size: 18px;"><span style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">GitHub: <a data-fr-linked="true" href="https://github.com/omeedcs">https://github.com/omeedcs</a></span></span></li>
    <li style="font-size: 20px;" ><span style="font-size: 18px;"><span style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">LinkedIn: <a href="https://www.linkedin.com/in/omeedtehrani/">https://www.linkedin.com/in/omeedtehrani/</a></span></span></li>
</ul>
<p><span style="font-size: 20px;"><span style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">Chand John</span></span></p>
<ul>
    <li style="font-size: 20px;" ><span style="font-size: 18px;"><span style='font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;'>Email: <a data-fr-linked="true" href="mailto:chand@cs.utexas.edu">chand@cs.utexas.edu</a></span></span></li>
   <li style="font-size: 20px;" ><span style="font-size: 18px;"><span style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">Personal Website: <a data-fr-linked="true" href="https://cs.utexas.edu/~chand">https://cs.utexas.edu/~chand</a></span></span></li>
</ul>
<p><span style="font-size: 20px;"><span style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">CS312 Information:</span></span></p>
<ul>
    <li style="font-size: 20px;" ><span style="font-size: 18px;"><span style='font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;'>Chand John&apos;s CS312 Website: <a href="https://www.cs.utexas.edu/~chand/cs312/">https://www.cs.utexas.edu/~chand/cs312/</a></span></span></li>
    <li style="font-size: 20px;" ><span style="font-size: 18px;"><span style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">Michael Scott&apos;s CS312 Website: </span><span style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;"><a href="https://www.cs.utexas.edu/~scottm/cs312/index.htm">https://www.cs.utexas.edu/~scottm/cs312/index.htm</a></span></span></li>
</ul>
<br>

<h3> About <h3> 
<p><span style='font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size: 15px;'>This website is designed, created and managed by Omeed Tehrani, a Teaching Assistant in the Computer Science Department the University of Texas at Austin.
Omeed Tehrani works under Chand John, an instructor in the Computer Science department at the University of Texas at Austin.
If you have any technical questions for me, would like to chat, or would like to report a bug, please reach out to my personal email above.
If you would like to contact the instructor or have any questions regarding class logistics, please refer to the instructor's contact information above.
If you would like to use the additional resources provided by the instructors CS312 websites, please refer to the links tagged above.
If you would like to reach out to ther teaching assistants, their contact information can be found on Canvas webpage. Thank you for using the CS312 Learning Hub. Cheers! &nbsp;</span></p>