
<div> 
<h3>CS312 Office Hours Queue</h3>
<p></p> 
<p> The CS312 Office Hour Queue is designed to make office hours easier to attend for students who might have questions on course content in the class.</p>
<p> The server for this queue is run on another website, so please click the button below to navigate.</p>
<a  href = "https://cs312.utcshelphours.com">
<button  class = "btn btn-primary">TAKE ME TO OFFICE HOURS →</button></div></a>