<h5 style = "font-size: 16px">Greetings <%= @resource.full_name %>!</h5>
<p>Our learning hub servers have detected that someone has requested a link to change your password. You can do this through the link below.</p>
<p>If this was not you, please ignore this email and consider changing your password for security reasons.</p>
<p>Please note that your password will not change until you access the link above and create a new one.</p>
<p>
<p><%= link_to 'CHANGE MY PASSWORD', edit_password_url(@resource, reset_password_token: @token) %></p>
<br>
 <img  src="https://www.cs.utexas.edu/~gill/images/UTA_CS_logo.png" alt="", style="width:25%;height:25%;">